pandas
numpy
pyarrow
fastparquet
scikit-learn
xgboost
lightgbm
optuna
shap
fastapi
uvicorn[standard]
joblib
requests
tqdm
matplotlib
seaborn
scipy
category_encoders
pydantic
python-dotenv
pytest
ipykernel
notebook
jupyterlab
